@import './PhoneInfoBar.css';

.messages{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 20px);
  background-color: #DDD;    
}
#sms_contact{
  background-color: #4CAF50;
  color: white;
  height: 34px;
  line-height: 34px;
  padding-left: 5px;
}
#sms_list{
  height: calc(100% - 34px - 26px);
  overflow-y: auto;
  padding-bottom: 8px;
}



.sms{
overflow: auto;
zoom: 1;
}

.sms-img{
width: 100%;
height: auto;
}
.img-fullscreen {
position: fixed;
z-index: 999999;
background-color: rgba(20, 20, 20, 0.8);
left: 0;
top: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
}
.img-fullscreen img {
display: flex;
max-width: 90vw;
max-height: 95vh;
}

.sms_me{
float: right;
background-color: white;
padding: 5px 10px;
max-width: 90%;
margin-right: 5%;
margin-top: 10px;
}

.sms_other{
  background-color: rgb(92, 107, 192);
  color:white;
  float: left;
  padding: 5px 10px;
  max-width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}


.sms_time{
  display: block;
  font-size: 12px;
}

.sms_me .sms_time{
  color: #AAA;
}
.sms_other .sms_time{
  color: #555;
}
.messages{
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.sms.select .sms_message, .sms:hover .sms_message{
background-color: rgb(0, 0, 0) !important;
color: #d4d4d4 !important;
}

.sms.select .sms_message .sms_time, .sms:hover .sms_message .sms_time{
background-color: inherit !important;
}

.sms_message{
word-wrap: break-word;
max-width: 80%;
font-size: 24px;
}

#sms_write{
  height: 56px;
  margin: 10px;
  width: 380px;
  background-color: white;
  border-radius: 56px;
}
#sms_write input{
  height: 56px;
  border: none;
  outline: none;
  font-size: 18px;
  margin-left: 14px;
  padding: 12px 5px;
  background-color: rgba(236, 236, 241, 0)
}

.sms_send{
  float: right;
  margin-right: 10px;
}
.sms_send svg{
  margin: 10px; 
  width: 36px;
  height: 36px;
  fill: #C0C0C0;
}
.copyTextarea {
height: 0;
border: 0;
padding: 0;
}

.screen{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.contact{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.list{
  height: 100%;
}


.elements{
  overflow-y: auto;
}

.element{
  height: 58px;
  line-height: 58px;
  display: flex;
  align-items: center;
  position: relative;
}

.element.select, .element:hover {
   background-color: #DDD;
}

.elem-pic{
  margin-left: 12px;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: 700;
  color: rgb(255, 255, 255); 
  background-color: rgb(78, 78, 78); 
  border-radius: 50%;
}
.elem-puce{
  background-color: red;
  color:white;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 42px;
  top: 36px;
  z-index: 6;
}
.elem-title{
  margin-left: 12px;
}
.elem-title-has-desc {
  margin-top:-15px;
  margin-left: 12px;
}
.elem-description{
  text-align:left;
  color:grey;
  position:absolute;
  display:block;
  width:75%;
  left:73px;
  top:12px;
  font-size:13.5px;
  font-style:italic;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}